@typeparam TItem
@inherits SortableHeadTemplateBase<TItem>
@if (Column.Sortable)
{
    <button @onclick=OnClick class="@SortClass">@Column.Title</button>
}
else
{
    <text>@Column.Title</text>
}
@code {
    private string? SortClass => Grid.SortExpression == Column.SortString && Grid.SortExpression != null
        ? Ascending
            ? "ascending"
            : "descending"
        : null;
}