@typeparam TItem
@typeparam TProperty

<button @onclick=@(async () => await OnClick())>@Column.Title</button><span>@SortHtml</span>
@code {
    [Parameter]
    public required PropertyColumn<TItem, TProperty> Column { get; set; }

    [CascadingParameter(Name = "ParentGrid")]
    protected Grid<TItem> Grid { get; set; } = null!;

    private bool ascending = false;

    private MarkupString? SortHtml => Grid.SortExpression == Column.SortColumn && Grid.SortExpression != null 
    ? ascending 
        ? (MarkupString)"&#8964;" 
        : (MarkupString)"&#8963;" 
    : null;

    private Task OnClick()
    {
        ascending = !ascending;
        return Column.Sort(ascending);
    }
}