@typeparam TItem
@inherits SortableHeadTemplateBase<TItem>
@if (Column.Sortable)
{
    <button @onclick=OnClick>@Column.Title</button><span>@SortHtml</span>
}
else
{
    <text>@Column.Title</text>
}
@code {

    private MarkupString? SortHtml => Grid.SortExpression == Column.SortString && Grid.SortExpression != null 
    ? Ascending 
        ? (MarkupString)"&#8964;" 
        : (MarkupString)"&#8963;" 
    : null;
}