@page "/"
@using ExtBlazor.Demo.Client.Pages.Components
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<h1>Demo</h1>

<section class="card">
    <p>Test apan</p>
    <a href="https://www.aftonbladet.se" aria-label="Bannan"></a>
</section>

<GridDemo />
@code {

}