@page "/users/{Id:int}"
@using ExtBlazor.RemoteMediator
@inject IRemoteMediator mediator
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>@user?.Name</h3>

@code {
    [Parameter]
    public int Id { get; set; }

    private UserDto? user;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        user = await mediator.Send(new GetUserQuery { Id = Id });
    }
}
